body {
    background-color: #ddd;
}

.wf1 fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #445ba9;
    padding: 0.5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.container div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

 .wf1 .container {
    width: 400px;
    background-color: #ddd;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .star-widget input {
    background-color: #fd4;
}

.star-widget label {
    font-size: 40px;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.star-widget input :not(:checked) ~ label :hover
input :not(:checked) ~ label :hover {
    color: #fd4;
}

input :checked ~ label {
    color: #fd4;
}

.wf1 input[type="rate"],
.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
    margin-right: 6px;
}

.wf1 input[type="submit"]
{
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1rem 1rem 1rem #999;
    background-color: #6f200e;
}

.wf1 textarea {
    height: 250px;
    width: 400px;
    border: 1px solid #999;
    background-color: #fff;
    padding: .75rem;
    font-size: 17px;
    resize: none;
    margin-top: 0.35rem;
}

.wf1 input :required {
    border-right: solid 8px blue;
}

.wf1 input :required :valid {
    border-bottom: solid 8px green;
}

#visits {
	color: #445ba9;
	font-weight: bolder;
	font-size: larger;
}

footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
